@import "font-awesome";
%fixed-width {
    width: 1190px;
    margin: 0 auto;
}

.rec {
    margin-bottom: 30px;
}

.service_item {
    position: relative;
    overflow: hidden;
    float: left;
    width: 47px;
    height: 69px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    text-align: center;
}

.service_ico {
    margin: 0 auto;
    display: block;
}

.service_lk {
    padding-top: 14px;
    height: 55px;
    display: block;
}

.service_text {
    height: 22px;
    line-height: 22px;
    border-top: 2px solid #fff;
}

#J_event {
    position: relative;
    z-index: 30;
    background-color: #000000;
    .grid_c1 {
        margin: 0 auto;
        width: 1190px;
        #J_event_lk {
            display: block;
            width: 100%;
            height: 80px;
            background: url(../img/underarmour_qiansen.jpg) no-repeat 50% 0;
        }
    }
}

.header {
    .w {
        width: 1190px;
        height: 140px;
        margin: auto;
        position: relative;
        h1 {
            background-image: url(../img/logo.jpg);
            position: absolute;
            top: -31px;
            left: 0;
            a {
                width: 190px;
                height: 170px;
                display: block;
                text-indent: -999px;
            }
        }
        .search {
            .form {
                position: absolute;
                left: 320px;
                top: 25px;
                width: 550px;
                height: 35px;
                input {
                    width: 490px;
                    height: 25px;
                    padding: 4px;
                    border: 1px solid #f10215;
                    line-height: 25px;
                }
                button {
                    position: absolute;
                    right: 0;
                    width: 55px;
                    height: 35px;
                    background-color: #f10215;
                    border: none;
                    i {
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }
        }
        .settleup {
            position: absolute;
            top: 25px;
            right: 99px;
            background: white;
            .cw_icon {
                width: 188px;
                height: 33px;
                text-align: center;
                line-height: 33px;
                border: 1px solid #e3e4e5;
                i {
                    margin-right: 3px;
                    font-size: 16px;
                    color: #f10214;
                }
                a {
                    color: #f10214;
                }
            }
        }
        .hotwords {
            overflow: hidden;
            position: absolute;
            left: 320px;
            top: 65px;
            width: 550px;
            height: 20px;
            line-height: 20px;
            a {
                float: left;
                margin-right: 10px;
                white-space: nowrap;
                color: #999;
            }
        }
        .navitems {
            overflow: hidden;
            position: absolute;
            left: 200px;
            bottom: 0;
            width: 790px;
            height: 40px;
            .spacer {
                float: left;
                overflow: hidden;
                margin-top: 15px;
                margin-left: 20px;
                margin-right: -10px;
                width: 1px;
                height: 10px;
                background-color: #ccc;
            }
            ul {
                float: left;
                li {
                    float: left;
                    margin-left: 30px;
                    a {
                        line-height: 40px;
                        font-weight: 700;
                        font-size: 16px;
                    }
                }
            }
        }
        #treasure {
            position: absolute;
            right: 0;
            bottom: 10px;
            width: 190px;
            height: 40px;
            a {
                display: block;
                width: 190px;
                height: 40px;
                background: url(../img/uaqbkd.png) center no-repeat;
            }
        }
    }
}

.fs {
    position: relative;
    z-index: 9;
    margin-bottom: 10px;
    .fs_inner {
        @extend %fixed-width;
        height: 480px;
        background: #F6F6F6;
        position: relative;
        z-index: 10;
        margin: 0 auto;
        .fs_left {
            float: left;
            height: 100%;
            margin-right: 10px;
            width: 190px;
            .fs_left_cate {
                .fs_left_menu {
                    height: 448px;
                    padding: 16px 0;
                    background: #6e6568;
                    color: #fff;
                    overflow: hidden;
                    li {
                        padding-left: 12px;
                        height: 28px;
                        line-height: 28px;
                        text-decoration: none;
                        a {
                            font-size: 14px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .fs_left_pop {
                position: absolute;
                left: 190px;
                top: 0px;
                width: 998px;
                min-height: 478px;
                background-color: #f7f7f7;
                border: 1px solid #f7f7f7;
                display: none;
            }
        }
        .fs_mid {
            float: left;
            height: 100%;
            width: 790px;
            .fs_mid_slider {
                .fs_mid_slider_main {
                    margin-bottom: 10px;
                    height: 340px;
                    background: #CCCCCC;
                    .swiper-container {
                        height: 340px;
                        .swiper-button-prev,
                        .swiper-button-next {
                            visibility: hidden;
                        }
                    }
                }
                .fs_mid_slider_extend {
                    margin-left: -10px;
                    height: 130px;
                    .fs_mid_slider_eleft {
                        overflow: hidden;
                        float: left;
                        margin-left: 10px;
                        width: 390px;
                        height: 130px;
                        a {
                            background: url();
                        }
                    }
                    .fs_mid_slider_eright {
                        overflow: hidden;
                        float: left;
                        margin-left: 10px;
                        width: 390px;
                        height: 130px;
                    }
                }
            }
        }
        .fs_right {
            float: right;
            height: 100%;
            width: 190px;
            background-color: #FFFFFF;
            margin-left: 10px;
            .fr_user {
                height: 115px;
                padding: 0 15px;
                border-bottom: 1px solid #e6e6e6;
                .fr_user_info {
                    position: relative;
                    height: 45px;
                    padding: 15px 0 15px 58px;
                    overflow: hidden;
                    .fr_user_info_avator {
                        width: 50px;
                        height: 50px;
                        overflow: hidden;
                        position: absolute;
                        margin-left: -58px;
                        .fr_user_info_avator_img {
                            height: 40px;
                            margin: 5px;
                        }
                        .fr_user_info_avator_lk {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 50px;
                            height: 50px;
                            background: url(../img/sprite_userinfo@1x.png) no-repeat -70px 0;
                        }
                    }
                    .fr_user_info_show {
                        .fr_ui_s_wel {
                            padding-top: 2px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .fr_ui_s_lr {
                            padding-top: 2px;
                        }
                    }
                }
                .fr_user_profit {
                    margin-right: -10px;
                    a {
                        width: 70px;
                        height: 20px;
                        display: inline-block;
                        border: 2px solid #e01222;
                        float: left;
                        margin-right: 10px;
                        text-align: center;
                        line-height: 20px;
                        color: #e01222;
                    }
                    a:hover {
                        color: #FFFFFF;
                        background: #e01222;
                    }
                }
            }
            .fr_news {
                height: 154px;
                padding: 0 15px;
                overflow: hidden;
                .fr_news_tab {
                    position: relative;
                    .fr_news_head {
                        padding: 8px 0 4px;
                        line-height: 14px;
                        border-bottom: 1px solid #e6e6e6;
                        .fr_news_head_sale {
                            display: inline-block;
                            border-right: 1px solid #e6e6e6;
                            padding-right: 12px;
                        }
                        .fr_news_head_notice {
                            padding-left: 12px;
                            display: inline-block;
                        }
                        .fr_news_head_more {
                            position: absolute;
                            right: 0;
                            top: 8px;
                        }
                    }
                    .fr_news_content {
                        padding: 12px 0;
                        .fr_news_content_s {
                            .fr_news_cs_ul {
                                line-height: 24px;
                                .news_item {
                                    a:hover {
                                        color: #C81623;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .fr_service {
                .service_entry {
                    overflow: hidden;
                    ul {
                        margin-left: -1px;
                        overflow: hidden;
                        width: 192px;
                        height: 210px;
                        .service_ico_huafei {
                            background: url(../img/sprite_fs@1x.png) no-repeat 0px -89px;
                            width: 24px;
                            height: 24px;
                        }
                        .service_ico_airtickit {
                            background: url(../img/sprite_fs@1x.png) no-repeat 0px -45px;
                            width: 24px;
                            height: 24px;
                        }
                        .service_ico_hotel {
                            background: url(../img/sprite_fs@1x.png) no-repeat -45px -90px;
                            width: 24px;
                            height: 24px;
                        }
                        .service_ico_game {
                            background: url(../img/sprite_fs@1x.png) no-repeat -88px 0px;
                            width: 24px;
                            height: 24px;
                        }
                        .service_ico_train {
                            background: url(../img/sprite_fs@1x.png) no-repeat -86px -89px;
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
    .fs_act {
        position: absolute;
        left: 0;
        top: 0;
        width: 1190px;
        height: 480px;
        left: 50%;
        margin: 0px 0px 0px -595px;
        #fs_act_lk {
            display: block;
            overflow: hidden;
            position: absolute;
            left: -350px;
            top: 0;
            width: 350px;
            height: 480px;
            .fs_act_lk_img {
                float: right;
            }
        }
        #fs_act_banner {
            overflow: hidden;
            position: absolute;
            z-index: 30;
            left: 0;
            top: 0;
            width: 0;
            height: 480px;
            a {
                display: block;
                height: 480px;
                img {
                    width: 990px;
                    height: 480px;
                }
            }
        }
    }
}


/*秒杀*/

.sk_item_price_new {
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
    color: #f10214;
}

.sk_item_price_origin {
    color: #999;
    font-size: 12px;
}

#seckill {
    margin-bottom: 30px;
    height: 305px;
    .sk_inner {
        @extend %fixed-width;
        overflow: hidden;
        .sk_inner_top {
            padding: 0 20px 0 30px;
            position: relative;
            height: 55px;
            line-height: 55px;
            background: url(../img/seckill_hd.png) no-repeat 0 0;
            .sk_inner_top_left {
                float: left;
                .box_hd_dec {
                    background-image: url(../img/sprite_index@1x.png);
                    background-position: -190px -48px;
                    background-repeat: no-repeat;
                    width: 28px;
                    height: 28px;
                    position: absolute;
                    left: -4px;
                    top: -4px;
                }
                .box_hd_icon {
                    background: url(../img/sprite_index@1x.png) no-repeat 0 -40px;
                    height: 40px;
                    width: 34px;
                    float: left;
                    margin-right: 8px;
                    margin-top: 8px;
                }
                h3 {
                    font-family: fzzhengheis-el-gbregular;
                    color: #FFFFFF;
                    font-size: 26px;
                    height: 40px;
                    font-weight: 400;
                    line-height: 40px;
                    padding-top: 9px;
                    float: left;
                }
                .box_subtit {
                    margin-top: 6px;
                    color: #FFFFFF;
                    float: left;
                    margin-left: 12px;
                    font-size: 14px;
                    height: 24px;
                    display: block;
                    .fa-chevron-circle-right {
                        margin-left: 4px;
                    }
                }
            }
        }
        .sk_inner_bottom {
            height: 225px;
            background: #FFFFFF;
            padding: 12px 0 13px;
            .sk_inner_bottom_left {
                width: 1000px;
                height: 225px;
                overflow: hidden;
                float: left;
                .swiper-container_sk1 {
                    height: 225px;
                    position: relative;
                    .sk_list {
                        width: 1000px;
                        .sk_item {
                            float: left;
                            width: 170px;
                            height: 225px;
                            padding: 0 14px 0 15px;
                            border-right: 1px solid #E7E7E7;
                            .sk_item_pic {
                                position: relative;
                                text-align: center;
                                .sk_item_pic_lk:hover .sk_item_img {
                                    transform: translateY(-4px);
                                }
                                .sk_item_pic_lk {
                                    text-align: center;
                                    display: block;
                                    .sk_item_img {
                                        margin: 17px 0;
                                        width: 130px;
                                        height: 130px;
                                        vertical-align: middle;
                                        transition: .4s;
                                    }
                                    .sk_item_name {
                                        color: #999999;
                                        display: block;
                                        overflow: hidden;
                                        max-width: 100%;
                                        height: 32px;
                                        text-align: left;
                                        line-height: 16px;
                                    }
                                }
                                .sk_item_shadow {
                                    background: url(../img/sprite_index@1x.png) no-repeat -14px -14px;
                                    position: absolute;
                                    top: 156px;
                                    left: 13px;
                                    height: 7px;
                                    width: 143px;
                                }
                                .sk_item_price {
                                    text-align: left;
                                }
                            }
                        }
                    }
                    .sk_list1 {
                        width: 1000px;
                        .sk_item {
                            float: left;
                            width: 170px;
                            height: 225px;
                            padding: 0 14px 0 15px;
                            border-right: 1px solid #E7E7E7;
                            .sk_item_pic {
                                position: relative;
                                text-align: center;
                                .sk_item_pic_lk:hover .sk_item_img {
                                    transform: translateY(-4px);
                                }
                                .sk_item_pic_lk {
                                    text-align: center;
                                    display: block;
                                    .sk_item_img {
                                        margin: 17px 0;
                                        width: 130px;
                                        height: 130px;
                                        vertical-align: middle;
                                        transition: .4s;
                                    }
                                    .sk_item_name {
                                        color: #999999;
                                        display: block;
                                        overflow: hidden;
                                        max-width: 100%;
                                        height: 32px;
                                        text-align: left;
                                        line-height: 16px;
                                    }
                                }
                                .sk_item_shadow {
                                    background: url(../img/sprite_index@1x.png) no-repeat -14px -14px;
                                    position: absolute;
                                    top: 156px;
                                    left: 13px;
                                    height: 7px;
                                    width: 143px;
                                }
                                .sk_item_price {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
            .sk_inner_bottom_right {
                height: 225px;
                width: 180px;
                position: relative;
                margin: 0 10px 0 0;
                float: right;
                overflow: hidden;
            }
        }
    }
}


/*发现好货 会买专辑 排行榜*/

#fbr {
    .fbr_inner {
        height: 444px;
        @extend %fixed-width;
        margin-bottom: 30px;
        .fbr_inner_col1 {
            height: 444px;
            width: 390px;
            float: left;
            background: #FFFFFF;
            .fbr_col1_title {
                height: 55px;
                background: #4998a1;
                position: relative;
                overflow: hidden;
                padding: 0 20px 0 30px;
                .fbr_col1_title_arrow {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-top: 19px solid #f6f6f6;
                    border-right: 19px solid transparent;
                }
                .fbr_col1_title_dec {
                    position: absolute;
                    background: url(../img/sprite_index@1x.png)no-repeat -190px -96px;
                    left: -4px;
                    top: -4px;
                    width: 28px;
                    height: 28px;
                }
                .fbr_col1_title_content {
                    font-size: 26px;
                    font-weight: 400;
                    position: absolute;
                    height: 40px;
                    color: #fff;
                    padding-top: 9px;
                    line-height: 40px;
                }
            }
            .fbr_col1_content {
                margin: 10px 10px 17px 10px;
                width: 390px;
                height: 389px;
                .find_goods {
                    width: 370px;
                    height: 363px;
                    .find_goods_all {
                        float: left;
                        width: 185px;
                        height: 120px;
                        border-right: 1px solid #E7E7E7;
                        border-bottom: 1px solid #E7E7E7;
                        .find_goods_item1_lk {
                            position: relative;
                            display: block;
                            width: 185px;
                            height: 120px;
                            .find_goods_item1_disc {
                                position: absolute;
                                left: 20px;
                                top: 20px;
                                width: 80px;
                                color: #4998a1;
                                font-size: 14px;
                            }
                            .find_goods_item1_img {
                                position: absolute;
                                right: 5px;
                                bottom: 10px;
                                width: 80px;
                                height: 80px;
                            }
                        }
                    }
                    .find_goods_item2 {
                        border-right: 0;
                        margin-right: -1px;
                    }
                    .find_goods_item5 {
                        border-bottom: 0;
                    }
                    .find_goods_item6 {
                        border-bottom: 0;
                        border-right: 0;
                        margin-right: -1px;
                    }
                }
            }
        }
        .fbr_inner_col2 {
            width: 390px;
            margin-right: 10px;
            float: left;
        }
        .fbr_inner_col3 {
            width: 390px;
            float: left;
        }
    }
}


/*底部*/

#footer {
    background: #eaeaea;
    .footer_top {
        height: 102px;
        border-bottom: 1px solid #dedede;
        .ft_ul {
            margin: 0 auto;
            height: 42px;
            width: 1190px;
            padding-top: 30px;
            li {
                float: left;
                width: 210px;
                height: 42px;
                margin-right: 91px;
                .ft_ul_li_h5 {
                    background: url(../img/ico_service.png) no-repeat;
                    background-position-x: 0;
                    width: 36px;
                    height: 42px;
                    float: left;
                    display: block;
                }
                p {
                    float: left;
                    width: 164px;
                    height: 42px;
                    font-size: 18px;
                    font-weight: 400;
                    color: #444444;
                    display: block;
                    line-height: 42px;
                    margin-left: 9px;
                }
            }
            li:nth-child(1) {
                margin-left: 36px;
            }
            li:nth-child(4) {
                margin-right: 0px;
            }
        }
    }
    .footer_inner {
        @extend %fixed-width;
        .footer_inner_first {
            height: 200px;
            border-bottom: 1px solid #dedede;
            .fif_left {
                margin-top: 25px;
                height: 160px;
                .fif_left_nav {
                    float: left;
                    width: 198px;
                    dt {
                        font-size: 14px;
                        font-weight: bold;
                        margin-bottom: 16px;
                    }
                    dd {
                        height: 22px;
                        line-height: 22px;
                        color: #666666;
                    }
                }
                .fif_left_map {
                    background: url(../img/ico_footer.png) no-repeat 0 8px;
                    width: 197px;
                    height: 160px;
                    float: right;
                    dt {
                        font-size: 14px;
                        font-weight: bold;
                        margin-bottom: 16px;
                    }
                    dd {
                        height: 22px;
                        line-height: 22px;
                        color: #666666;
                        p {
                            text-align: right;
                        }
                    }
                }
            }
        }
        .footer_inner_second {
            .fis_inner {
                padding: 15px 0;
            }
            p {
                display: block;
                text-align: center;
                span {
                    display: inline-block;
                    width: 24px;
                    height: 13px;
                    text-align: center;
                    color: #CCCCCC;
                }
            }
            .fis_inner_mid {
                padding: 10px 0;
                line-height: 22px;
            }
            .fis_inner_bottom {
                .fib_icon_all {
                    display: inline-block;
                    background: url(../img/ico_footer.png) no-repeat;
                    margin: 0 3px;
                    width: 103px;
                    height: 32px;
                    overflow: hidden;
                    line-height: 1000px;
                }
                .fib_icon_1 {
                    background-position: 0 -151px;
                }
                .fib_icon_2 {
                    background-position: -104px -151px;
                }
                .fib_icon_3 {
                    background-position: 0 -184px;
                }
                .fib_icon_4 {
                    background-position: -104px -184px;
                }
                .fib_icon_5 {
                    background-position: 0 -217px;
                }
                .fib_icon_6 {
                    background-position: -104px -217px;
                }
            }
        }
    }
}